@use "@material/rtl";
@use "@material/typography";
@use "../../util";

.drawer-settings {
  &.mdc-drawer {
    width: 480px;
    &.mdc-drawer--open.mdc-drawer--dismissible:not(.mdc-drawer--closing) ~ .mdc-drawer-app-content {
      @include rtl.reflexive-property(margin, 480px, 0);
    }
  }
  .mdc-drawer__header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    @include util.divider-border(bottom);
    .drawer-logo {
      width: 56px;
      height: 56px;
      @include rtl.reflexive-box(margin, right, 16px);
    }
    .logo-text {
      @include typography.typography(headline5);
      font-family: "Nova Flat", sans-serif;
      font-size: 22 / 16 * 1rem;
      flex-grow: 1;
    }
    .mdc-linear-progress {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .mdc-drawer__content {
    .month-group {
      display: flex;
      flex-direction: column;
      padding: 16px;
      @include util.divider-border(bottom);
    }
    .location-group {
      display: flex;
      flex-direction: column;
      padding: 16px;
      .field {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .map-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 448px;
        @include util.divider-border(all);
        &.image {
          .map-icon {
            display: none;
          }
        }
      }
    }
  }
  .submit-button {
    display: flex;
    padding: 16px;
    @include util.divider-border(top);
    .mdc-button {
      flex-grow: 1;
    }
  }
}
