@use "@material/rtl";
@use "@material/typography";
@use "~/util";

.drawer-settings {
  &.mdc-drawer {
    width: 480px;
    position: fixed;
    &.mdc-drawer--open.mdc-drawer--dismissible:not(.mdc-drawer--closing) ~ .mdc-drawer-app-content {
      @include rtl.reflexive-property(margin, 480px, 0);
    }
  }
  .mdc-drawer__header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    @include util.divider-border(bottom);
    .drawer-logo {
      width: 56px;
      height: 56px;
      @include rtl.reflexive-box(margin, right, 16px);
    }
    .logo-text {
      @include typography.typography(headline5);
      font-family: "Nova Flat", sans-serif;
      font-size: 22 / 16 * 1rem;
      flex-grow: 1;
    }
    .mdc-linear-progress {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .mdc-drawer__content {
    .subheader {
      margin-bottom: 8px;
    }
    .month-group {
      display: flex;
      flex-direction: column;
      padding: 16px;
      @include util.divider-border(bottom);
      .segmented-button-container {
        margin-bottom: 16px;
      }
    }
    .location-group {
      display: flex;
      flex-direction: column;
      padding: 16px;
      .button-container {
        margin-bottom: 16px;
        display: flex;
        .mdc-button {
          flex-grow: 1;
        }
      }
      .double-field {
        display: flex;
        margin-bottom: 16px;
        flex: calc(50% - 8px) 1 0;
        .field {
          margin-bottom: 0;
          &:first-child {
            @include rtl.reflexive-box(margin, right, 8px);
          }
          &:last-child {
            @include rtl.reflexive-box(margin, left, 8px);
          }
        }
      }
      .field {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
      }
      .guide-chips {
        display: flex;
        justify-content: center;
        margin-top: -16px;
        padding: 8px;
        .mdc-chip {
          margin: 0 8px;
        }
      }
      .map-container {
        position: relative;
        @include util.divider-border(all);
        background-size: cover;
        background-position: center;
        padding-top: 100%;
        .map-icon {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &.image {
          .map-icon {
            display: none;
          }
        }
      }
      .disclaimer-container {
        margin-top: 16px;
      }
    }
  }
  .submit-button {
    display: flex;
    padding: 16px;
    @include util.divider-border(top);
    .mdc-button {
      flex-grow: 1;
    }
  }
}
