@use "@material/rtl";

.content-container {
  .mdc-top-app-bar {
    width: calc(100% - 480px);
    &__row {
      height: 72px;
    }
    &--fixed-adjust {
      padding-top: 72px;
    }
    .chip-section {
      gap: 8px;
    }
  }
  .content-grid {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    .mdc-card {
      margin: 8px;
    }
  }
}
