@use "@material/rtl";
@use "@material/typography";
@use "../../util";

.drawer-settings {
  &.mdc-drawer {
    width: 480px;
    &.mdc-drawer--open.mdc-drawer--dismissible:not(.mdc-drawer--closing) ~ .mdc-drawer-app-content {
      @include rtl.reflexive-property(margin, 480px, 0);
    }
  }
  .mdc-drawer__header {
    display: flex;
    align-items: center;
    padding: 16px;
    @include util.divider-border(bottom);
    .drawer-logo {
      width: 56px;
      height: 56px;
      @include rtl.reflexive-box(margin, right, 16px);
    }
    .logo-text {
      @include typography.typography(headline5);
      font-family: "Nova Flat", sans-serif;
      font-size: 22 / 16 * 1rem;
      flex-grow: 1;
    }
  }
}
