@use "@material/rtl";

.content-container {
  .mdc-top-app-bar {
    width: calc(100vw - 480px);
    &__row {
      height: 72px;
    }
    &--fixed-adjust {
      padding-top: 72px;
    }
    .mdc-chip {
      @include rtl.reflexive-box(margin, left, 8px);
    }
  }
  .content-grid {
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
