.logo {
  svg {
    width: 100%;
  }
  .radar {
    &.rotate {
      transform-origin: center;
      animation: rotate 3s linear infinite;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
