.logo {
  svg {
    width: 100%;
  }
  .radar {
    &.rotate {
      transform-origin: center;
      animation: rotate 3s infinite linear;
      &.paused {
        animation-play-state: paused;
      }
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
