@use "@material/shape" with (
  $small-component-radius: 0,
  $medium-component-radius: 0,
  $large-component-radius: 0
);

@use "typography-variables";

@use "@material/typography" with (
  $font-family: typography-variables.$body-font,
  $styles-headline1: typography-variables.$headline1,
  $styles-headline2: typography-variables.$headline2,
  $styles-headline3: typography-variables.$headline3,
  $styles-headline4: typography-variables.$headline4,
  $styles-headline5: typography-variables.$headline5,
  $styles-headline6: typography-variables.$headline6,
  $styles-body1: typography-variables.$body1,
  $styles-body2: typography-variables.$body2,
  $styles-subtitle1: typography-variables.$subtitle1,
  $styles-subtitle2: typography-variables.$subtitle2,
  $styles-button: typography-variables.$button,
  $styles-overline: typography-variables.$overline,
  $styles-caption: typography-variables.$caption
);

@use "theme";

@use "@material/drawer/mdc-drawer";
@use "@material/icon-button/mdc-icon-button";

@use "@material/theme/color-palette" as palette;

@include typography.core-styles();

.material-icons:not(.round) {
  font-family: "Material Icons Sharp";
}

.mdc-drawer {
  border-color: var(--divider-color);
}

.light {
  $theme: (
    primary: palette.$light-green-700,
    secondary: palette.$red-700,
    on-primary: black,
    on-secondary: white,
    background: palette.$grey-200,
    error: palette.$deep-orange-500,
    on-error: black,
    surface: white,
    on-surface: black,
  );
  @include theme.theme($theme);
}

.dark {
  $theme: (
    primary: palette.$light-green-300,
    secondary: palette.$red-400,
    on-primary: black,
    on-secondary: black,
    background: #121212,
    error: palette.$deep-orange-400,
    on-error: black,
    surface: #121212,
    on-surface: white,
  );
  @include theme.theme($theme, true);
}
