@use "@material/shape" with (
  $small-component-radius: 0,
  $medium-component-radius: 0,
  $large-component-radius: 0
);

@use "typography-variables";

@use "@material/typography" with (
  $font-family: typography-variables.$body-font,
  $styles-headline1: typography-variables.$headline1,
  $styles-headline2: typography-variables.$headline2,
  $styles-headline3: typography-variables.$headline3,
  $styles-headline4: typography-variables.$headline4,
  $styles-headline5: typography-variables.$headline5,
  $styles-headline6: typography-variables.$headline6,
  $styles-body1: typography-variables.$body1,
  $styles-body2: typography-variables.$body2,
  $styles-subtitle1: typography-variables.$subtitle1,
  $styles-subtitle2: typography-variables.$subtitle2,
  $styles-button: typography-variables.$button,
  $styles-overline: typography-variables.$overline,
  $styles-caption: typography-variables.$caption
);

@use "theme";

@use "chartist/dist/scss/chartist";

@use "@material/button/mdc-button";
@use "@material/card/mdc-card";
@use "@material/checkbox/mdc-checkbox";
@use "@material/chips/mdc-chips";
@use "@material/drawer/mdc-drawer";
@use "@material/icon-button/mdc-icon-button";
@use "@material/linear-progress/mdc-linear-progress";
@use "@material/data-table/mdc-data-table";
@use "@material/snackbar/mdc-snackbar";
@use "@material/textfield/mdc-text-field";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@rmwc/data-table/data-table";
@use "@rmwc/icon/icon";

@use "@material/theme/color-palette" as palette;
@use "@material/theme/functions" as theme-functions;
@use "@material/rtl";

@include typography.core-styles();

:focus {
  outline: none;
}

:root {
  -webkit-tap-highlight-color: transparent;
}

.scroll-lock {
  overflow: hidden;
}

.material-icons:not(.round) {
  font-family: "Material Icons Sharp";
}

.mdc-button.mdc-button--outlined,
.mdc-card.mdc-card--outlined,
.mdc-drawer,
.mdc-list-divider,
.mdc-data-table,
.mdc-data-table__row,
.mdc-dialog.mdc-dialog--scrollable .mdc-dialog__title,
.mdc-dialog.mdc-dialog--scrollable .mdc-dialog__actions {
  border-color: var(--divider-color);
}

.ct-chart {
  .ct-grid {
    stroke: var(--divider-color);
    stroke-dasharray: 4px;
  }
  .ct-axis-title,
  .ct-label {
    @include typography.typography(caption);
  }
}

svg.material-icons,
.material-icons svg {
  fill: currentColor;
}

.mdc-checkbox {
  &__background {
    @include shape.radius(small);
  }
}

.mdc-chip {
  &.non-interactive {
    .mdc-chip__ripple {
      display: none;
    }
    cursor: auto;
  }
}

.mdc-data-table {
  background-color: transparent;
  .mdc-data-table__header-row {
    .mdc-data-table__header-cell {
      @include typography.typography(subtitle2);
      font-weight: bold;
      vertical-align: middle;
    }
  }
  .mdc-data-table__row {
    transition: background-color 100ms;
    .mdc-data-table__cell {
      @include typography.typography(body2);
      overflow: visible;
    }
  }
  &__cell,
  &__header-cell {
    &.right-border {
      border: 0 solid var(--divider-color);
      @include rtl.reflexive(border-left-width, 0, border-right-width, 1px);
    }
    &.indicator::before {
      content: "";
      position: absolute;
      @include rtl.reflexive-position(right, 0);
      top: 0;
      height: 100%;
      width: 4px;
      background-color: var(--lighter-color);
    }
  }
}

.mdc-drawer {
  &--dismissible {
    z-index: 1;
  }
  &.drawer-right {
    width: 320px;
    border-right-width: 0;
    border-left-width: 1px;
    border-right-style: none;
    border-left-style: solid;
    @include rtl.reflexive-position(left, initial);
    @include rtl.reflexive-position(right, 0);
    &.mdc-drawer--animate,
    &.mdc-drawer--closing {
      transform: translateX(100%);
      @include rtl.rtl {
        transform: translateX(-100%);
      }
    }
    &.mdc-drawer--opening {
      transform: translateX(0);
      @include rtl.rtl {
        transform: translateX(0);
      }
    }
    &.mdc-drawer--open.mdc-drawer--dismissible:not(.mdc-drawer--closing) ~ .mdc-drawer-app-content {
      @include rtl.reflexive-property(margin, 0, 320px);
    }
    @include rtl.rtl {
      border-left-width: 0;
      border-right-width: 1px;
      border-left-style: none;
      border-right-style: solid;
      left: 0;
      right: initial;
    }
    @include shape.radius(large 0 0 large, true);
  }
}

.light {
  $theme: (
    primary: palette.$light-green-700,
    secondary: palette.$red-700,
    on-primary: if(theme-functions.contrast-tone(palette.$light-green-700) == "dark", black, white),
    on-secondary: if(theme-functions.contrast-tone(palette.$red-700) == "dark", black, white),
    background: palette.$grey-200,
    error: palette.$deep-orange-500,
    on-error: if(theme-functions.contrast-tone(palette.$deep-orange-500) == "dark", black, white),
    surface: white,
    on-surface: black,
  );
  @include theme.theme($theme);
}

.dark {
  $theme: (
    primary: palette.$light-green-300,
    secondary: palette.$red-400,
    on-primary: if(theme-functions.contrast-tone(palette.$light-green-300) == "dark", black, white),
    on-secondary: if(theme-functions.contrast-tone(palette.$red-400) == "dark", black, white),
    background: #121212,
    error: if(theme-functions.contrast-tone(palette.$deep-orange-400) == "dark", black, white),
    on-error: black,
    surface: #121212,
    on-surface: white,
  );
  @include theme.theme($theme, true);
}
