@use "@material/shape" with (
  $small-component-radius: 0,
  $medium-component-radius: 0,
  $large-component-radius: 0
);

@use "typography-variables";

@use "@material/typography" with (
  $font-family: typography-variables.$body-font,
  $styles-headline1: typography-variables.$headline1,
  $styles-headline2: typography-variables.$headline2,
  $styles-headline3: typography-variables.$headline3,
  $styles-headline4: typography-variables.$headline4,
  $styles-headline5: typography-variables.$headline5,
  $styles-headline6: typography-variables.$headline6,
  $styles-body1: typography-variables.$body1,
  $styles-body2: typography-variables.$body2,
  $styles-subtitle1: typography-variables.$subtitle1,
  $styles-subtitle2: typography-variables.$subtitle2,
  $styles-button: typography-variables.$button,
  $styles-overline: typography-variables.$overline,
  $styles-caption: typography-variables.$caption
);

@use "theme";

@use "@material/button/mdc-button";
@use "@material/card/mdc-card";
@use "@material/chips/mdc-chips";
@use "@material/drawer/mdc-drawer";
@use "@material/icon-button/mdc-icon-button";
@use "@material/linear-progress/mdc-linear-progress";
@use "@material/data-table/mdc-data-table";
@use "@material/snackbar/mdc-snackbar";
@use "@material/textfield/mdc-text-field";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@rmwc/data-table/data-table";
@use "@rmwc/icon/icon";

@use "@material/theme/color-palette" as palette;

@include typography.core-styles();

.material-icons:not(.round) {
  font-family: "Material Icons Sharp";
}

.mdc-button.mdc-button--outlined,
.mdc-card.mdc-card--outlined,
.mdc-drawer,
.mdc-list-divider,
.mdc-data-table,
.mdc-data-table__row,
.mdc-dialog.mdc-dialog--scrollable .mdc-dialog__title,
.mdc-dialog.mdc-dialog--scrollable .mdc-dialog__actions {
  border-color: var(--divider-color);
}

svg.material-icons,
.material-icons svg {
  fill: currentColor;
}

.mdc-chip {
  &.non-interactive {
    .mdc-chip__ripple {
      display: none;
    }
    cursor: auto;
  }
}

.mdc-data-table {
  background-color: transparent;
  .mdc-data-table__header-row {
    .mdc-data-table__header-cell {
      @include typography.typography(subtitle2);
      font-weight: bold;
      vertical-align: middle;
      .rmwc-data-table__sort-icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
  .mdc-data-table__row {
    transition: background-color 100ms;
    .mdc-data-table__cell {
      @include typography.typography(body2);
      overflow: visible;
      .vendor-container {
        @include shape.radius(small);
      }
    }
  }
}

.mdc-drawer {
  border-color: var(--divider-color);
}

.light {
  $theme: (
    primary: palette.$light-green-700,
    secondary: palette.$red-700,
    on-primary: black,
    on-secondary: white,
    background: palette.$grey-200,
    error: palette.$deep-orange-500,
    on-error: black,
    surface: white,
    on-surface: black,
  );
  @include theme.theme($theme);
}

.dark {
  $theme: (
    primary: palette.$light-green-300,
    secondary: palette.$red-400,
    on-primary: black,
    on-secondary: black,
    background: #121212,
    error: palette.$deep-orange-400,
    on-error: black,
    surface: #121212,
    on-surface: white,
  );
  @include theme.theme($theme, true);
}
