.count-card {
  max-width: 100%;
  padding: 16px;
  overflow: hidden;
  .title-container {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mdc-typography--headline5 {
      margin: 0;
    }
  }
  .chart-container {
    margin-bottom: 16px;
  }
  .table-container {
    overflow-x: auto;
  }
}

.mdc-button.skeleton {
  pointer-events: none;
}
